@tailwind base;
@tailwind components;
@tailwind utilities;

.typed {
  background: -webkit-linear-gradient(
    208deg,
    rgba(70, 149, 240, 1) 0%,
    rgba(252, 66, 206, 1) 78%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1000px) {
  #content #left {
    /* background-color: rgb(80, 75, 75); */
    width: 100%;
    padding: 0vw 10vw;
    max-height: 1500vw;
  }
  #maintext {
    /* background-color: blue; */

    max-height: 60vw;
    border-radius: 10px;
    padding: 4vw -3vw;
  }
  #content {
    max-height: 100rem;
    /* background: #000; */
  }
  #top-image {
    /* background: #000; */
    width: 100%;
    padding: 8vw;
  }
  #btn {
    /* background: #000; */
    margin: 0;
    width: 100%;
    max-height: 100vw;
    padding: 2vw 5vw;
    margin-top: 5vw;
  }
  #email {
    width: 90%;
  }
  #getquote {
    width: 70%;
    padding: 2vw 4vw;
    /* background: #000; */
    margin-left: 1rem;
  }
}
@media (max-width: 1150px) and (min-width: 768px) {
  #nav2 {
    display: none;
  }
  #nav1,
  #nav3,
  #mobileMenu {
    margin-top: 3rem;
  }
  #nav3 {
    padding-right: -30rem;
  }
  #nav1 {
    font-size: 2rem;
  }
  #navbar {
    display: flex;
    align-items: center;
  }
  #left {
    /* background: #000; */
    margin-left: 0;
    padding: auto;
    width: 100%;
    margin-top: -3rem;
  }
  #right {
    display: none;
  }
  #top-image {
    display: block;
    width: 100%;
    padding: 8vw;
  }
  #maintext {
    /* background-color: blue; */

    border-radius: 10px;
    padding: 4vw;
  }
  #content {
    margin-left: 0;
    /* background: #000; */
    padding: 0;
    margin-top: -5rem;
    width: 100%;
    max-height: 100rem;
  }

  #btn {
    /* background: red; */
    margin: 0;
    width: 100%;
    max-height: 70vw;
    padding: 2vw 5vw;
    margin-top: 5vw;
    font-size: 2rem;
  }
  #email {
    width: 90%;
    margin-left: 1.5rem;
    margin-top: 2rem;
    padding: 2vw 3vw;
  }
  #getquote {
    width: 40%;
    padding: 1vw 2vw;
    margin-left: 2rem;

    margin-left: 22vw;
  }
  #getquote2 {
    font-size: 1.7rem;
  }
  #qualifications {
    padding-left: 27vw;
    margin-top: 2rem;
  }
}
@media (max-width: 1100px) and (min-width: 720px) {
  #mainfaq {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #mainfaq #top {
    display: block;
    width: 100%;
    margin: auto;
    padding-top: 4rem;
  }

  #mainfaq #left {
    width: 100%;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #mainfaq #left .wrap {
    max-width: 80%; /* Adjusted max-width for the content */
    width: 100%;
    padding: 0 1rem; /* Added x-padding for the content */
    text-align: center;
  }

  #mainfaq #left .wrap #title {
    width: 100%;
  }

  #mainfaq #left .wrap #paragraph {
    width: 100%;
  }

  #mainfaq #left .wrap #button {
    margin: 0 auto; /* Center the button horizontally */
  }
}
.border-blue-gray-50 {
  border: none;
}
