@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@keyframes changeText {
  0%, 20% {
    content: 'streamline operations';
  }
  25%, 45% {
    content: 'automate production';
  }
  50%, 70% {
    content: 'increase profits';
  }
  75%, 95% {
    content: 'reduce costs';
  }
  100% {
    content: 'boost productivity';
  }
}


.typed::before {
  content: 'to run your business';
  background: -webkit-linear-gradient(208deg, rgba(70,149,240,1) 0%, rgba(252,66,206,1) 78%); 
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: changeText 5s infinite;
}

@media (max-width: 767px) {
  #content #left {
    /* background-color: rgb(80, 75, 75); */
    width: 100%;
    padding: 0vw 10vw;
    max-height: 1500vw;
  }
  #maintext {
    /* background-color: blue; */

    max-height: 60vw;
    border-radius: 10px;
    padding: 4vw -3vw;
  }
  #content {
    max-height: 100rem;
    /* background: #000; */
  }
  #top-image {
    /* background: #000; */
    width: 100%;
    padding: 8vw;
  }
  #btn {
    /* background: #000; */
    margin: 0;
    width: 100%;
    max-height: 100vw;
    padding: 2vw 5vw;
    margin-top: 5vw;
  }
  #email {
    width: 90%;
  }
  #getquote {
    width: 70%;
    padding: 2vw 4vw;
    /* background: #000; */
    margin-left: 1rem;
  }
}
@media (max-width: 1150px) and (min-width: 768px) {
  #nav2 {
    display: none;
  }
  #nav1,
  #nav3,
  #mobileMenu {
    margin-top: 3rem;
  }
  #nav3 {
    padding-right: -30rem;
  }
  #nav1 {
    font-size: 2rem;
  }
  #navbar {
    display: flex;
    align-items: center;
  }
  #left {
    /* background: #000; */
    margin-left: 0;
    padding: auto;
    width: 100%;
    margin-top: -3rem;
  }
  #right {
    display: none;
  }
  #top-image {
    display: block;
    width: 100%;
    padding: 8vw;
  }
  #maintext {
    /* background-color: blue; */

    border-radius: 10px;
    padding: 4vw;
  }
  #content {
    margin-left: 0;
    /* background: #000; */
    padding: 0;
    margin-top: -5rem;
    width: 100%;
    max-height: 100rem;
  }

  #btn {
    /* background: red; */
    margin: 0;
    width: 100%;
    max-height: 70vw;
    padding: 2vw 5vw;
    margin-top: 5vw;
    font-size: 2rem;
  }
  #email {
    width: 90%;
    margin-left: 1.5rem;
    margin-top: 2rem;
    padding: 2vw 3vw;
  }
  #getquote {
    width: 40%;
    padding: 1vw 2vw;
    margin-left: 2rem;

    margin-left: 22vw;
  }
  #getquote2 {
    font-size: 1.7rem;
  }
  #qualifications {
    padding-left: 27vw;
    margin-top: 2rem;
  }
}
  .marquee-container {
    width: 1000vw;
    overflow: hidden;
  }
  .marquee-content {
    white-space: nowrap;
    display: inline-block;
    animation: marquee 8s linear infinite; 
  }
  .logo {
    display: inline-block;
    margin-right: 20px; 
  }
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }


@media (min-width: 1101px) {
  /* Add these styles outside of your component code */
  .marquee-container {
    width: 100%;
    overflow: hidden;
  }

  .marquee-content {
    white-space: nowrap;
    display: flex;
    animation: marquee 64s linear infinite;
  }

  .logo {
    display: inline-block;
    margin-right: 20px; /* Adjust the spacing between logos */
  }
}
@media (max-width: 1400px) and (min-width: 720px){
#right #bottomimg{
background: #000;
display: none;
 }
#left #topimg{
 background: #000;
 display: block;
 }
}
@media (max-width: 1000px) and (min-width: 768px) {
  #mainfaq #firstfaq{
    width: 100%;
  }
  #mainfaq #secondfaq{
  width: 100%;
  }

}

  

.section-white {
	background: #fff;
	padding: 70px 0;
}

.team-item{
	background: #f4f5f6;
	text-align:center;
	margin:20px 0;
	padding:50px 20px 40px 20px;
	border-radius: 8px 8px;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.team-item:hover{
	background: #3956de;
	color: white;
}

.team-item h3{
	margin:20px 0 1px 0!important;
	color:#454545;
	font-size:18px;
	font-weight: 700;
	text-transform:uppercase;
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
}

.section-subtitle {
	white-space: pre-line;
 }

.team-item:hover h3{
	color:#ddd;
}

.team-info {
	display: block;
	margin-bottom:0;
}

.team-info p{
	color:#acacac;
	font-style:italic;
}

.team-info::after {
    background: #008aff;
    background: -webkit-linear-gradient(135deg, #6B02FF 0%, #985BEF 100%);
    background: -o-linear-gradient(bottom right, #6B02FF, #985BEF);
    background: -moz-linear-gradient(bottom right, #008aff, #1ad2fd);
    background: linear-gradient(135deg, #6B02FF 0%, #985BEF 100%);
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 50px;
    height: 3px; 
}

.team-img{
	max-width: 140px;
	padding: 6px 6px;
    background-color: #dedede;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

ul.team-icon {
	margin-top: 25px;
}

ul.team-icon li{
	display: inline-block;
	margin:0 3px;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

ul.team-icon li a{
	margin: 0;
	display: inline-block;
	padding: 8px 8px;
	width: 34px;
	height: 34px;
	font-size: 18px;
	line-height: 18px;
	background-color: #fff;
	border-radius: 50%;
	color:#fff;
}

ul.team-icon li a.twitter{
	background-color: #4099ff;
}

ul.team-icon li a.pinterest{
	background-color: #C92228;
}

ul.team-icon li a.facebook{
	background-color: #3b5998;
}

ul.team-icon li a.dribble{
	background-color: #ea4c89;
}

.team-icon li a:hover{
	color:#dedede;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}